name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test-backend:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11"

            - name: Install dependencies
              run: pip install -r requirements.txt

            - name: Run tests
              run: echo "TODO - add tests later"

    build-frontend:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: "20"

            - name: Install & Build
              working-directory: ./frontend
              run: |
                  npm install                                                                                                                          
                  npm run build
